
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" ></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>

 <script src="https://unpkg.com/tippy.js@6"></script>

 <script>
   tippy('[data-tippy-content]',{maxWidth: 200});
 </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <script type="text/javascript" src="/public/global/ch3915babussofa4.js">
      </script>
  <script type="text/javascript" src="/public/global/cgtptn05b64bwcs4.js">
      </script>
  <script type="text/javascript" src="/public/global/xcz59lmywkfdgsp4.js">
      </script>
  <script type="text/javascript" src="/public/global/wnzsoolloslhfumj.js">
      </script>
      <script type="text/javascript" src="/public/global/qri1ac173hshc2hdjc.js">
</script>

  <script type="text/javascript" >
     window.modules.layouts = {"auth":0};   </script>
  <script type="text/javascript" >
     window.modules.signin = [];   </script>
  <script type="text/javascript" >
      </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.6/js/jquery.tablesorter.js"></script>




<script type="text/javascript" >
window.modules.siteOrder = {""}; </script>
<script type="text/javascript" >
window.modules.select = [];   </script>

<script src="public/script.js"></script>


<script type="text/javascript" src="public/global/newyear.js"></script>
<script>
$(document).ready(function(){



$('.tooltip-wrapper').tooltip();

});
    
</script>

</body>
</html>