<div class="wrapper-content__footer">
       <div id="block_416">
    <div class="footer ">
        <div class="component_footer_single_line">
            <div class="component-footer">
                <div class="component-footer__public">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-footer__public-copyright">
                                                                            <p><span style="color: #ffffff"><span style="font-size: 30px"><strong style="font-weight: bold">About &nbsp; {{ site["site_name"] }}</strong></span></span></p>
<p><span style="letter-spacing: 0.0px"><span style="font-size: 15px"><span style="color: #ffffff">{{ site["site_name"] }} is Bangladesh's premier SMM panel provider, committed to propelling brands into the digital limelight. Our tailor-made solutions across major platforms ensure optimal engagement and brand growth. Dive in and experience the difference with &nbsp; {{ site["site_name"] }} - where quality meets affordability.</span></span></span></p>
<p><br></p>
<p class="text-left"><span style="text-align: LEFT"><span style="line-height: 16px"><span style="font-size: 18px"><span style="color: #ffffff"><strong style="font-weight: bold">Social Media</strong></span></span></span></span></p>
<p class="text-left"><a target="_blank" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Twitter</span></span></span></span></a><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">, </span></span></span></span><a target="_blank" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Linkedin</span></span></span></span></a><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">, </span></span></span></span><a target="_blank" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Pinterest</span></span></span></span></a></p>
<p><br></p>
<p class="text-left"><span style="text-align: LEFT"><span style="line-height: 16px"><span style="font-size: 18px"><span style="color: #ffffff"><strong style="font-weight: bold">Important Link</strong></span></span></span></span></p>
<p class="text-left"><a target="_self" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Home</span></span></span></span></a><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">, </span></span></span></span><a target="_self" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">About</span></span></span></span></a><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">, </span></span></span></span><a target="_self" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Contact</span></span></span></span></a><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">, </span></span></span></span><a target="_self" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Services</span></span></span></span></a><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">, </span></span></span></span><a target="_self" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Blog</span></span></span></span></a></p>
<p><br></p>
<p class="text-left"><span style="text-align: LEFT"><span style="line-height: 16px"><span style="font-size: 18px"><span style="color: #ffffff"><strong style="font-weight: bold">Legal</strong></span></span></span></span></p>
<p class="text-left"><a target="_self" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Terms of Service</span></span></span></span></a><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">, </span></span></span></span><a target="_self" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Privacy Policy</span></span></span></span></a><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">, </span></span></span></span><a target="_self" href="#"><span style="font-size: 14px"><span style="color: rgba(0, 255, 236, 1)"><span style="text-align: LEFT"><span style="line-height: 16px">Refund Policy</span></span></span></span></a></p>
<p><br></p>
<p class="text-center"><span style="text-align: CENTER"><span style="font-size: 16px"><span style="color: #ffffff">© 2023&nbsp; {{ site["site_name"] }}, All Rights Reserved</span></span></span></p>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     </div>
  </div>
</div>



  <script type="text/javascript" src="public/smmsun/css/SMMSUNBD/footer/rtti2ycjc5wotdxc.js">
      </script>
  <script type="text/javascript" src="public/smmsun/css/SMMSUNBD/footer/d14kcfnonusj4tua.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/7945icpx8a0g5eee.js">
      </script>
  <script type="text/javascript" >
     window.modules.layouts = {"theme_id":23,"auth":0,"live":true,"csrftoken":"YZWcf1wI7FZVAqCs8J9tGz0UdKEVVjsOKbk6QoM-QdUp2KQ5EUOHPGV2zvm3_QFEV0FMlyQxS0BM-1IYyFAFkg=="};   </script>
  <script type="text/javascript" >
     window.modules.layouts = {"theme_id":23,"auth":0,"live":true,"csrftoken":"YZWcf1wI7FZVAqCs8J9tGz0UdKEVVjsOKbk6QoM-QdUp2KQ5EUOHPGV2zvm3_QFEV0FMlyQxS0BM-1IYyFAFkg=="};   </script>
  <script type="text/javascript" >
     window.modules.signin = [];   </script>
  <script type="text/javascript" >
      </script>
</body>
</html>